    <div class="p-2 buttons">
    <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Dodaj Krok</button>
    </div>


    <div class="content" >
        
        <div class="stages pb-4">
            <div *ngFor="let item of (procedure$ |async)?.stages">
                <app-stage-tile [stage]="item" [isHighlighted]="highlightedBlockName===item.name"
                (pointNextBlock)="highlightBlock($event)"
                (deleteStage)="deleteBlock($event)"
                ></app-stage-tile>
                <!-- (editStage)="editBlock($event)" -->
            </div>
        </div>
    

        <div class="stages pb-4">
            <div *ngFor="let item of (procedure$ |async)?.deciders">
                <app-decider-tile [decider]="item" [isHighlighted]="highlightedBlockName===item.name"
                (pointNextBlock)="highlightBlock($event)"></app-decider-tile>
            </div>
        </div>
        
        

        <div class="stages pb-4">
            <div *ngFor="let item of (procedure$ |async)?.stages">
                <app-stage-tile [stage]="item" [isHighlighted]="highlightedBlockName===item.name"
                (pointNextBlock)="highlightBlock($event)"></app-stage-tile>
            </div>
        </div>
            
    </div>
    