.stages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    
    // .stage-card {
    //     width: 20rem;
    //     border-color: black;
    //     border-width: 2px;

    //     .card{
    //         border-color: black;
    //     }

    //     .card-header{
    //         font-weight: bold;
    //     background-color: #e2e2e2;
    //     }

    //     .action-row {
    //         display: flex;
    //         justify-content: space-between;
    //         align-items:center;
    //         padding-left: 0.5em;
    //         padding-right: 0.25em;
    //     }
    // }
}