aaaaaaaaaaaaaaaaaaaaaaaa
<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">adasd</button>
<div class="card">
  <img class="card-img-top" src="holder.js/100x180/" alt="">
  <div class="card-body">
    <h4 class="card-title">Title</h4>
    <p class="card-text">Text</p>
  </div>
</div>

<a class="btn btn-primary btn-lg " href="#" role="button">asdasdasd</a>
<button type="button" class="btn btn-primary" (click)="playAudio()">play</button>
<img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">