<app-nav-bar ></app-nav-bar>
<router-outlet ></router-outlet>
<!-- <div class="content">
  <button type="button" class="btn btn-primary" (click)="playProcedure()">PlayProcedure</button>
  <button type="button" class="btn btn-primary" (click)="playStage()">playStage</button>
  <p>{{currentActionLabel}}</p>
</div> -->
<div>
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <img src="../assets/myimg.jpg" class="img-fluid rounded-top" alt="">
  <!-- <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/shoot-2801222-2321882.png?f=webp" width="30" -->
  <!-- height="3000" alt=""> -->
  <!-- <button type="button" class="btn btn-primary" (click)="recordAudio()">record</button> -->

</div>



<app-footer></app-footer>