<!-- <div *ngIf="stage.actions.length" class="card stage-card m-2 highlight-border" -->
<div class="card stage-card m-2 highlight-border" [ngClass]="{'highlight-border' : isHighlighted}">

    <div class="card-header" [ngClass]="{'highlight-background' : isHighlighted}">
        <div>
            {{stage.name}}
        </div>
        <div>
            <button type="button" class="btn btn-danger btn-sm" (click)="onDelete()" title="delete">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-primary btn-sm" (click)="onEdit()" title="edit">
                <i class="fa fa-edit" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="card-body p-2">
        <div *ngIf="stage.actions?.length" class="card no-box-shadow">
            <div class="list-group list-group-flush">
                <app-action-row *ngFor="let action of stage.actions" [action]="action" class="list-group-item p-0"
                    (reorderUp)="reorderAction(action,ORDER_DIRECTION.UP)"
                    (reorderDown)="reorderAction(action,ORDER_DIRECTION.DOWN)">
                </app-action-row>
            </div>
        </div>
        <div *ngIf="!stage.actions?.length" class="card no-box-shadow d-flex align-items-center">
            <p>brak akcji</p>
        </div>



        <div *ngIf="stage.nextBlockName" class="input-group input-group-sm mt-2">
            <span class="input-group-text label ps-1" id="basic-addon1">Nastepny krok</span>

            <button class="m-0 btn btn-outline-secondary dropdown-toggle name" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">{{stage.nextBlockName}}</button>
            <div class="dropdown-menu dropdown-menu-end">
                <div *ngFor="let item of allBlocks"><span class="dropdown-item"
                        (click)="changeNextStep(item)">{{item.name}}{{deciderSuffix(item)}}</span></div>
            </div>

            <button class="input-group-text btn btn-outline-primary m-0 next-block" type="button"
                (click)="showNextBlock(stage.nextBlockName)">pokaz
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </button>
        </div>

    </div>

</div>