.control-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
        width: 15rem;
        height: 4rem;
        font-weight: bold;

        span {
            font-size: 0.75rem;
        }
    }
}