.label {
    width: 12rem;
}

select{
    border-color: rgb(75, 75, 75);
}

.modal-header,
.modal-footer {
    background-color: lightgrey;

    .pill {
        background-color: #2474ff;
        padding: 10px;
        border-color: blue;
        border-radius: 0.5rem;
    }
}