<div class="content p-4">

  <div class="control-buttons">
    <button type="button" class="btn btn-primary " (click)="playProcedure()"
      [disabled]="isPlaylistPlaying$ | async"><i class="fa fa-play" aria-hidden="true"></i> Play</button>
    <button type="button" class="btn btn-primary " (click)="pauseProcedure()"
      [disabled]="!(isPlaylistPlaying$ | async)"><i class="fa fa-pause" aria-hidden="true"></i> Pause</button>
    <button type="button" class="btn btn-primary " (click)="stopProcedure()"
      [disabled]="!(isPlaylistPlaying$ | async)"><i class="fa fa-stop" aria-hidden="true"></i> Stop</button>
  </div>

  
  <div class="form-group">
    <label for="price">Price</label>
    <div class="input-group-btn">
      <div class="input-group">
        <span class="input-group-text">$</span>
        <input id="price" type="number" class="form-control" />
        <span class="input-group-text">.00</span>
      </div>
    </div> 
  </div>  


  
<div class="input-group-addon mb-3">
  <div class="input-group">

        <input type="text" class="form-control" placeholder="Recipient's username"
            aria-label="Recipient's username" aria-describedby="basic-addon2">
        <button class="btn btn-outline-secondary" type="button">Button</button>
    </div>
</div>


<div class="input-group mb-3">
    <div class="input-group-prepend">
      <button type="button" class="btn btn-outline-secondary">Action</button>
      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
  </div>





  <div>
    <app-action-tile [action]="currentAction$ | async" ></app-action-tile>
  </div>

</div>