<div class="card decider-card m-2 highlight-border" [ngClass]="{'highlight-border' : isHighlighted}">

    <div class="card-header" [ngClass]="{'highlight-background' : isHighlighted}">
        <div class="label-name me-2">
            <div>{{decider.name}}{{deciderSuffix(decider)}}</div>
            <div class="audio-filename">{{decider.audioFileName}}</div>
        </div>
        <button type="button" class="btn btn-danger btn-sm" (click)="onDelete()" title="delete">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-primary btn-sm" (click)="edit(decider)" title="edit">
            <i class="fa fa-edit" aria-hidden="true"></i>
        </button>
    </div>

    <div class="card-body p-2">

        <div class="input-group input-group-sm mt-2">

            <span class="input-group-text label ps-1" id="basic-addon1">jesli TAK to:</span>

            <button class="m-0 btn btn-outline-secondary dropdown-toggle name" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">{{decider.positiveBlock?.name}}</button>
            <div class="dropdown-menu dropdown-menu-end">
                <div *ngFor="let item of allBlocks"><span class="dropdown-item"
                        (click)="changePositiveBlock(item)">{{item.name}}{{deciderSuffix(item)}}</span></div>
            </div>

            <button class="input-group-text btn btn-outline-primary m-0 next-block" type="button"
                (click)="showNextBlock(decider.positiveBlock)">pokaz
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </button>

        </div>

        <div class="input-group input-group-sm mt-2">
            <span class="input-group-text label ps-1" id="basic-addon1">jesli NIE to:</span>

            <button class="m-0 btn btn-outline-secondary dropdown-toggle name" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">{{decider.negativeBlock?.name}}</button>
            <div class="dropdown-menu dropdown-menu-end">
                <div *ngFor="let item of allBlocks"><span class="dropdown-item"
                        (click)="changeNegativeBlock(item)">{{item.name}}{{deciderSuffix(item)}}</span></div>
            </div>

            <button class="input-group-text btn btn-outline-primary next-block m-0" type="button"
                (click)="showNextBlock(decider.negativeBlock)">pokaz
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </button>
        </div>


        <div class="input-group input-group-sm mt-2">
            <span class="input-group-text " id="basic-addon3">szansa na TAK [%]</span>
            <input [ngModel]="(decider.positiveChance*100)+'%'" type="text" class="form-control" id="actionName"
                placeholder="name" aria-label="name" aria-describedby="basic-addon4" required disabled readonly>
        </div>

        <div class="input-group input-group-sm mt-2">
            <span class="input-group-text " id="basic-addon5">Dodatkowe opoznienie [sek]</span>
            <input [ngModel]="decider.delay_sec" type="text" class="form-control" id="actionName" placeholder=""
                aria-label="name" aria-describedby="basic-addon6" required disabled readonly>
        </div>
    </div>

</div>