.decider-card {
    width: 20rem;
    border-color: black;
    border-width: 2px;

    .card {
        border-color: black;
    }

    .label {
        width: 7rem;
    }

    .card-header {
        font-weight: bold;
        background-color: #e2e2e2;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .label-name{
            // width: 60%;
            width: -webkit-fill-available;
            
            .audio-filename{
                font-style: italic;
                font-size: 0.6rem;
                text-align: start;
            }
        }
    }

    .btn-append {
        border-radius: 0px 0px 0px 0px;
    }
}

.highlight-background {
    background-color: green !important;
}

.highlight-border {
    border-color: green;
box-shadow: 4px 4px 6px 1px green;
    animation: blinker 0.4s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}